/***** general*****/

* {
    font-family: 'Roboto';
    color: black;
    font-weight: bold;
}

h1, h2, h3, .titre-footer {
    font-family: 'Shriklhand';
}


*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --violet: rgb(146, 86, 220);
    --rose: #FF79DA;
    --vert: #99E2D0;
    --main: rgb(235, 232, 232);
    --back: #F2F2F2;
}

a{
    text-decoration: none;
    list-style: none;
}
.loader{
    position: absolute;
  top: 50%;
  left: 40%;
    border: 16px solid  var(--violet); /* Couleur de la bordure du loader */
  border-top: 16px solid var(--rose); /* Couleur de la bordure du dessus */
  border-radius: 50%; /* Forme circulaire du loader */
  width: 200px; /* Largeur du loader */
  height: 200px; /* Hauteur du loader */
  animation: spin 2s linear forwards ; /* Animation de rotation */
  opacity: 0;
  transition: opacity 0.3s ease;
}

@keyframes spin {
    0% { transform: rotate(0deg); } /* Angle initial de rotation */
    100% { transform: rotate(360deg); } /* Angle final de rotation */
    0% {
        opacity: 0.5;
      }
      50% {
        opacity: 1;
      }
      75%{
          opacity: 0.5; 
      }
      100% {
        opacity: 0;
        display: none;
      }
  }

  .loader.active {
    opacity: 1;
    visibility: visible;
    
    
  }
  .loader {
    opacity: 0;
    visibility: visible;
  }
  
 .le-site {
    animation: fade-out 6s linear forwards;
  }
 
  @keyframes fade-out {
    0% {
      opacity: 0;
      display: none;
    }
    50% {
      opacity: 0;
    }
    75%{
        opacity: 0.5;
    }
    100% {
      opacity: 1;
      
    }
  }
  
  
  
  
/**header**/
.logo {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
}
.logo-image{
    height: 25px;
}

.formulaire-header {
    background-color: var(--main);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-color: var(--main);
    height: 30px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-location-dot {
    margin-left: 15%;
    color: black;
}

input {
    border: none;
    background-color: var(--main);
    height: 30px;
    margin-left: 3%;
}

input :active {
    border-color: none;
    text-decoration: none;
    color: #9356DC
}

.intro-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: var(--back);
    padding-bottom: 20%;
    padding-top: 5%;
}

.text-header{
    width: 80%;
}

.bouton {
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(90deg, var(--violet), var(--rose));
    transition:background-color 0.3s;
    color: white;
    padding: 3%;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 0%;
    margin-top: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
}
.bouton:hover 
.bouton:focus{
background-color: lighten (linear-gradient(90deg, var(--violet), var(--rose),20%)) ;
}

/*Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir.
L’ombre portée devra également être plus visible.
● À terme, les visiteurs pourront sauvegarder leurs menus préférés. Pour ça, un
bouton "J’aime" en forme de cœur est présent sur la maquette. Au clic, il devra se
remplir progressivement. Pour cette première version, l’effet peut apparaître au
survol sur desktop au lieu du clic.*/


/*fonctionnement*/

.menu-fonctionnement {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.section-fonctionnement{
   margin-top: 10%;
   margin-left: 5%;
}
.fonctionnement{
    display: flex;
    flex-direction: column;
     margin-bottom: 5%;
    margin-bottom: 10%;
}
.list-fonctionnement{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
}
.menu-fonctionnement{
    display: flex;
    align-items: center;
}
 .fa-1, .fa-2, .fa-3 {
    color: white;
    background-color: var(--violet);
    padding: 1%;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50%;
    margin-top: 5%;
    position: relative;
    left: 10px;
    top: -5px;
}
.bouton-fonctionnement{
    text-decoration: none;
    background-color: var(--back);
    border-radius: 10px;
    width:320px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

.bouton-fonctionnement, .fa-solid{
    margin-right: 3%;
    font-size: 20px; 
}   
.fa-solid:hover {
    color: var(--violet);
}

/*Restaurants*/
.restaurant{
    background-color:var(--back);
    padding-top: 5%;
}
.titre-restaurant{
    margin-bottom: 5%;
    margin-left: 5%;
    margin-top: 1%;
}
.restaurant-box {
    display: flex;
    flex-direction: column;
}
.restaurant-card img {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    height: 180px; 
}
 .fa-heart :active{
    color: var(--violet);
}
.container {
    position: relative;
}
.restaurant-card .container .text {
    background: var(--vert);
    z-index: 1;
    position: absolute;
    text-align: center;
    right: 4%;
    top: 10%;
    color:rgb(54, 199, 54);
    width: 40%;
    display: flex;
    justify-content: center;
}
.restaurant-card{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    background-color: white;
    border-radius: 20px;
}

.restaurant-description{
    display: flex;
    flex-direction: column;
   margin-left: 5%;
}
.coeur{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}
.fa-heart{
    font-size: 25px;
}
.fa-heart:hover{
    color: var(--violet);
}

.heart{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 5%;
}
/*footer*/

footer, .list-footer{
    background-color: #2d3436;
    display: flex;
    flex-direction: column;
    height: 200px;
}
.titre-footer{
    font-family: 'shrikhand';
    color: white;
    font-size: 20px;
    margin-top: 5%;
}
.titre-footer, .list-footer{
    margin-left: 5%;
    margin-bottom: 5%;
    list-style: none;
}
.footer-list{
    margin: 5%;
}
.footer-lien{
    color: white;
    
}
 .fa-utensils, .fa-handshake-angle{
    margin-right: 3%;
    margin-left: 0;
    color: white;
}

/*Quand l’application aura plus de menus, un “loader” sera nécessaire. Sur cette
maquette, nous souhaitons en avoir un aperçu. Il devra apparaître pendant 1 à 3
secondes quand on arrive sur la page d'accueil, couvrir l'intégralité de l'écran, et
utiliser les animations CSS (pas de librairie). Le design de ce loader n’est pas défini,
toute proposition est donc la bienvenue tant qu’elle est cohérente avec la charte
graphique du site.*/

/*page menu"*/
main{
    position: relative; 
    background-color: white;
}

.titre-menu{
    font-weight: bolder;
    font-size: 30px; 
    font-style: italic;
 }
.title-menu{
    font-family: 'roboto';
    margin-left: 5%;
    font-size: 18px;
    margin-top: 5%;
    border-bottom: 3px solid var(--vert);
    width: 10%;
}

.header-menu{
 height: 50px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding-right: 20%;
}

.image-menu{
    height: 200px;
    width: 100%; 
}
.titre-coeur-header-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
}

.menu{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.box-menu{
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   height: 250px;
}
main{
    display: flex;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.menu, .menu-description ,p, i{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    padding-top: 1%;
}
.description-menu{
    display:flex;
    flex-wrap: nowrap; 
    font-weight: bolder;
}
.menu-description{
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 8px;
}
.fa-euro-sign{
    font-size: 12px;
    padding-left: 10%;
    
}
.bouton-commander {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}

/*responsive*/
@media screen and (min-width:500px) {

    header{
        padding-bottom: 0%;
    }
    .intro-header, p{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom:2% ;
        padding-top: 2%;
    }

    .fa-solid{
        margin-right: 0;
        margin-bottom: 1%;
    }
   input{
        margin-left: 1%;
    }
    .bouton{
       border-radius: 45px;
       width: 190px;
        height: 3px;
      margin-top: 0;
      padding-top: 10px;
      padding-bottom: 25px;
      padding-left: 0px;
      padding-right: 2px;
    }
    .titre-fonctionnement{
        margin-top: 5%;
        margin-left: 5%;
    }
    .section-fonctionnement{
     display: flex;
     flex-direction: column;
     margin: 0;
    
    }
    .fonctionnement{
        display: flex;
        flex-direction: row;
        margin-top:3%;
       width: 80%;
       margin-left: 5%;
    }
    .list-fonctionnement{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-left: 0;
        height: 50px;
    }
    .menu-fonctionnement{
        width: 500px;
    }
    .bouton-fonctionnement{
        font-size: 16px;
    }
    .fa-1 .fa-2 .fa-3{
        position: relative;
        left:0px ;
        bottom: -5px;
    }
    .restaurant-box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .restaurant-card{
        width: 35%;
    }
    .restaurant-description{
        display: flex;
        flex-direction: column;
    }
    .paragraf-restaurant{
        display: flex;
        align-content: flex-start;
    }
    footer, .titre-footer, .list-footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;
    }
    .titre-footer{
        margin-left: 5%;
        font-size: 18px;
    }
    .list-footer{
        display: flex ;
        flex-direction: row;
        justify-content: flex-end;
        width: 60%;
        margin: 0;
    }
   
  
    .footer-lien{
       margin-top: 8%;
       margin-right: 5%;
       display: flex;
       justify-content: space-around;
       width: 180%;
    } 
    .icon-footer{
        margin-left: 5%;
  }

    /*destop menu*/
    .titre-coeur-header-menu{
        display: flex;
        justify-content: center;
    }
    .fa-heart{
        margin-left: 2%;
    }
    .header-menu{
        display: flex;
        justify-content: space-around;
        padding-right: 35%;
    }
    .image-menu{
    height: 450px;
    }
  main{
    width: 80%;
    background-color: var(--back);
    margin-left: 10%;
    margin-top: -50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    
   
  }
  .title-menu{
    margin-top: 0%;
    margin-bottom: 2%;
    width: 5%;
  }
  .box-menu{
    display: flex;
    justify-content: space-around;
    height: 375px;
  }
  .menu{
    background-color: white; 
    margin-bottom: 5%;
    padding-bottom: 0;
  }
  .description-menu{
    display: flex;
    flex-direction: row;
  }
  .checkbox {
    width: 60px;
    height: 65px;
    background-color: white;
    position: relative;
    top: -10%;
    right: -11%;
    cursor: pointer;
  }
  
  .checkbox::before {
    content: "";
    position: absolute;
   
    transform: translate(-50%, -50%) rotate(45deg);
    width: 10px;
    height: 20px;
    border-bottom: 2px solid  grey;
    border-right: 2px solid  grey;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .checkbox:hover::before {
    opacity: 1;
  }
  
  .checkbox:hover {
    background-color: rgb(168, 242, 168);
  }
  .bouton-commander{
    padding-bottom: 8%;
  }
}
