/***** general*****/

* {
    font-family: 'Roboto';
    color: black;
    font-weight: bold;
}

h1,
h2 {
    font-family: 'Shriklhand';
}

/*Pour s’assurer que la page prend 100% de la hauteur de l’écran, il est de coutume d’ajouter la déclaration suivante :
*/
*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --violet: #9356DC;
    --rose: #FF79DA;
    --vert: #99E2D0;
    --main: rgb(235, 232, 232);
    --back: #F2F2F2;
}

/**header**/
.logo {
    height: 20px;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 30%;
    margin-right: 30%;
}

.formulaire-header {
    background-color: var(--main);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-color: var(--main);
    height: 30px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-location-dot {
    margin-left: 15%;
}

input {
    border: none;
    background-color: var(--main);
    height: 30px;
    margin-left: 3%;
}

input :active {
    border-color: none;
    décoration: none;
    color: #9356DC
}

.intro-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: var(--back);
    padding-bottom: 5%;
}

.bouton-header {
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(90deg, var(--rose), var(--violet));
    color: white;
    padding: 3%;
    border-radius: 25px;
    font-size: 10px;
    margin-bottom: 10%;
    margin-top: 5%;
    width: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/*Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir.
L’ombre portée devra également être plus visible.
● À terme, les visiteurs pourront sauvegarder leurs menus préférés. Pour ça, un
bouton "J’aime" en forme de cœur est présent sur la maquette. Au clic, il devra se
remplir progressivement. Pour cette première version, l’effet peut apparaître au
survol sur desktop au lieu du clic.*/


/*fonctionnement*/
.section-fonctionnement{
   margin-top: 10%;
   margin-left: 5%;
}
.fonctionnement{
    display: flex;
    flex-direction: column;
    
}
.bouton-fonctionnement{
    text-decoration: none;
}
/*Restaurants*/
.restaurant {
    background-color:violet;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.restaurant-card img {
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing:border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/*footer*/
footer, li{
    background-color: gray;
    display: flex;
    flex-direction: column;

}
.titre-footer, li{
    margin-left: 5%;
    margin-bottom: 5%;
}
.footer-lien{
    text-decoration: none;
    color: white;
    margin-bottom: 5%;
    display: flex;
}
.fa-solid, .fa-regular {
    margin-right: 5%;
}
/*responsive*/
@media screen and (max-width: 1920px) {

}