/***** general*****/

* {
    font-family: 'Roboto';
    color: black;
    font-weight: bold;
}

h1,
h2 {
    font-family: 'Shriklhand';
}

/*Pour s’assurer que la page prend 100% de la hauteur de l’écran, il est de coutume d’ajouter la déclaration suivante :
*/
*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --violet: #9356DC;
    --rose: #FF79DA;
    --vert: #99E2D0;
    --main: rgb(235, 232, 232);
    --back: #F2F2F2;
}

a{
    text-decoration: none;
}

/**header**/
.logo {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
}
.logo-image{
    height: 25px;
}

.formulaire-header {
    background-color: var(--main);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-color: var(--main);
    height: 30px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-location-dot {
    margin-left: 15%;
    color: black;
}

input {
    border: none;
    background-color: var(--main);
    height: 30px;
    margin-left: 3%;
}

input :active {
    border-color: none;
    text-decoration: none;
    color: #9356DC
}

.intro-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: var(--back);
    padding-bottom: 5%;
}

.bouton {
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(90deg, var(--violet), var(--rose));
    color: white;
    padding: 3%;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 10%;
    margin-top: 5%;
    width: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
}

/*Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir.
L’ombre portée devra également être plus visible.
● À terme, les visiteurs pourront sauvegarder leurs menus préférés. Pour ça, un
bouton "J’aime" en forme de cœur est présent sur la maquette. Au clic, il devra se
remplir progressivement. Pour cette première version, l’effet peut apparaître au
survol sur desktop au lieu du clic.*/


/*fonctionnement*/

.menu-fonctionnement {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.section-fonctionnement{
   margin-top: 10%;
   margin-left: 5%;
}
.fonctionnement{
    display: flex;
    flex-direction: column; margin-bottom: 5%;
    margin-bottom: 10%;
}
.menu-fonctionnement{
    display: flex;
    align-items: center;

}
 .fa-1, .fa-2, .fa-3 {
    color: white;
    background-color: var(--violet);
    padding: 2%;
    border-radius: 50%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 5%;
    
}
.bouton-fonctionnement{
    text-decoration: none;
    background-color: var(--back);
    border-radius: 10px;
    width: 65%;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 5%;
    display: flex;
    align-items: center;
}
.bouton-fonctionnement, .fa-solid{
    margin-left: 5%;
    margin-right: 3%;
}
.fa-solid:hover {
    color: #9356DC;
}

/*Restaurants*/
.titre-restaurant{
    margin-bottom: 5%;
    margin-left: 5%;
    margin-top: 10%;
}
.restaurant {
    background-color:var(--back);
    display: flex;
    flex-direction: column;
}
.restaurant-card img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    height: 130px; 
}
 .fa-heart :active{
    color: var(--violet);
}
.container {
    position: relative;
}
.restaurant-card .container .text {
    background: var(--vert);
    z-index: 1;
    position: absolute;
    text-align: center;
    right: 4%;
    top: 10%;
    color:rgb(54, 199, 54);
    width: 40%;
    display: flex;
    justify-content: center;
}
.restaurant-card{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    background-color: white;
    border-radius: 20px;
}

.restaurant-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-left: 5%;
}
h2{
    margin-left: 5%;
    margin-bottom: 2%;
}

/*footer*/

footer, .list-footer{
    background-color: gray;
    display: flex;
    flex-direction: column;

}
.titre-footer, .list-footer{
    margin-left: 5%;
    margin-bottom: 5%;
}
.footer-lien{
    color: white;
    margin-bottom: 5%;
    display: flex;
}
 .fa-utensils, .fa-handshake-angle{
    margin-right: 3%;
    margin-left: 0;
    color: white;
}

/*Quand l’application aura plus de menus, un “loader” sera nécessaire. Sur cette
maquette, nous souhaitons en avoir un aperçu. Il devra apparaître pendant 1 à 3
secondes quand on arrive sur la page d'accueil, couvrir l'intégralité de l'écran, et
utiliser les animations CSS (pas de librairie). Le design de ce loader n’est pas défini,
toute proposition est donc la bienvenue tant qu’elle est cohérente avec la charte
graphique du site.*/


/*responsive*/
@media screen and (max-width: 1920px) {

}

/*page menu"*/
h3{
 font-weight: bold; 
 font-size: 16px;  
}
.header-menu{
 height: 50px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding-right: 20%;
}

.image-menu{
    height: 200px;
    width: 100%; 
}
.titre-coeur-header-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10%;
}
.fa-regular{
    margin-top: 3%;
}
.menu{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.box-menu{
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   height: 250px;
}
main{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    
}
.menu, .menu-description ,p, i{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    padding-top: 1%;
}
.description-menu{
    display:flex;
    flex-wrap: nowrap; 
}
.menu-description{
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 8px;
}

.bouton-commander {
    display: flex;
    justify-content: center;
}

